backend/backend/__pycache__/*
backend/interiors/__pycache__/*
backend/interiors/migrations/*
backend/interiors/optimizer/__pycache__/*
backend/interiors/tasks/__pycache__/*
backend/debug.log
backend/requests.log
backend/__pycache__/*
./frontend/node_modules/*
./frontend/build/*
db.sqlite3
package-lock.json
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/admin.cpython-39.pyc
app/__pycache__/apps.cpython-39.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/urls.cpython-39.pyc
app/__pycache__/views.cpython-39.pyc
app/local_data/__pycache__/__init__.cpython-39.pyc
app/local_data/__pycache__/walls.cpython-39.pyc
frontend/package-lock.json
wnetrza/__pycache__/__init__.cpython-39.pyc
wnetrza/__pycache__/settings.cpython-39.pyc
wnetrza/__pycache__/urls.cpython-39.pyc
wnetrza/__pycache__/wsgi.cpython-39.pyc
frontend/package-lock.json
frontend/package-lock.json
.vscode
