.spawnZone{
    background-color: gray;
    width: 100%;
    min-height: 100px;
    flex: 0 10 25vh;
    border-top: 4px solid black;
    white-space: nowrap;
    overflow-x: scroll;
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 180px;
    margin: 10px 0 0 10px;
    background-color: gray;
    color: white;
    touch-action: none;
    user-select: none;
    box-shadow:0px 0px 0px 5px rgba(0,0,0,0.5) inset;
  }
  