<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example communication</title>
  </head>

  <body>
    <h2>Przykładowa komunikacja z serwerem - prosty kalkulator</h2>
    <form action='.' method="POST">
        {% csrf_token %}

        <label for="first_number">First number: </label>
        <input type="text" id="first_number" name="first_number"/>

        <label for="second_number">Second number: </label>
        <input type="text" id="second_number" name="second_number"/>

        <button type="submit" name="submit" value="+">+</button>
        <button type="submit" name="submit" value="-">-</button>
        <button type="submit" name="submit" value="*">*</button>
        <button type="submit" name="submit" value="/">/</button>
    </form>
  </body>
</html>
