{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'app/js/index.js' %}" type="module"></script>
  </head>
  <body>
    <div id="menu_zone">
      <ul>
        <li><a href="{% url 'app:example_rw' %}">Przykład - odczyt/zapis</a></li>
        <li><a href="{% url 'app:example_communication' %}">Przykład - komunikacja ze skryptem w Pythonie</a></li>
      </ul>
    </div>
    <div id="drag_zone" class="drop_target">
      <div id="drag-1" class="draggable">
        <p> You can drag one element </p>
      </div>
      <div id="drag-2" class="draggable">
        <p> with each pointer </p>
      </div>
    </div>
    <div id="spawn_zone" class="drop_target">

    </div>
  </body>
</html>
