{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wnetrza</title>
    <link href="{% static "app/css/style.css" %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'app/js/draggable.js' %}" type="module"></script>
    <script src="{% static 'app/js/rectangle.js' %}"></script>
    <script src="{% static 'app/js/wall.js' %}"></script>
    <script src="{% static 'app/js/wall_picker.js' %}"></script>
    

  </head>
  <body>
    <div id="menu_zone" class="menu-style">
      <ul class="menu_list-style">
        <li class="button-style" onclick="showWallPickerZone()">Ściany</a></li>
        <li class="button-style" onclick="addRectangle('100px', '100px', 'gray', 'spawn_zone')">
          Prostokąty
        </li>
        <li class="button-style">Zakreśl obszar</a></li>
        <li class="button-style">Rozmieść</a></li>
        <li class="button-style" onclick="document.getElementById('upload').click()">
          <input type="file" id="upload" style="display: none" onchange="loadRectangles(this.files[0])"/>
          <a> Wczytaj projekt</a>
        </li>
        <li class="button-style" onclick="saveRectangles()">Zapisz projekt</a></li>
      </ul>
    </div>
    <div id="drag_zone" class="drop_target drag_zone-style"></div>
    <script src="{% static 'app/js/create_canvas.js' %}"></script>
    <div id="spawn_zone" class="drop_target spawn_zone-style"></div>

    <!-- Wall picker sub-menu -->
    <div id="wall_picker_zone" class="modal-style">
      <div id="wall_picker_content" class="modal_content-style"></div>
    </div>
  </body>
</html>
